body {
  margin: 0%;
  padding: 0%;
  font-family: "Abhaya Libre", serif;
  font-family: "Rajdhani", sans-serif;
  font-family: "Roboto", sans-serif;
}
.wrapper {
  margin-right: 5%;
  margin-left: 5%;
}
.arrange-left {
  float: left;
}
.wid-25 {
  width: 25%;
}
.wid-50 {
  width: 50%;
}
.wid-75 {
  width: 75%;
}
.wid-33 {
    width: 33.3%;
  }
.next-row {
  clear: both;
}
.ml-5{
  margin-left: 15%;
}
.mt-15{
  margin-top: 15%;
}
.common-btn {
  height: 35px;
  border: 1px solid #ddd;
  text-align: center;
  min-width: 40px;
  background-color: #fff;
  color: #9fe2bf;
  border-radius: 0px;
  margin-right: 35px;
}
.common-btn a{
  color: #9fe2bf;

}

.common-btn span {
  font-size: 15px;
  font-weight: 800;
}

.common-btn span i {
  padding: 0px 5px;
}


@media only screen and (max-width:992px){
  .wid-25,.wid-50,.wid-75,.wid-33{
    width:100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .arrange-left{
    float:none;
  }
  
}