.header {
  margin-top: 20px;
  min-height: 50px;
}

.logo h1 {
  font-size: 35px;
  margin: 0px;
}

.logo h1 span:first-of-type {
  border: 1px solid #ddd;
  padding: 0px 10px;
  margin-right: 5px;
  color: #9fe2bf;
}

.search-product input {
  width: 70%;
  height: 40px;
  padding: 10px;
  font-size: 15px;
  border-radius: 0px;
  border: 1px solid #ddd;
  color: #666;
  border-right: 0px;
}

.search-product input:focus {
  outline: none;
}

.search-product button {
  border: 1px solid #ddd;
  height: 40px;
  border-radius: 0px;
  font-size: 14px;
  color: #9fe2bf;
  margin-left: -6px;
  background-color: #fff;
}

.selected-product {
  text-align: right;
}

.full-banner-wrapper {
  border: 1px solid #ddd;
}

.list-header {
  background-color: #9fe2bf;
  height: 59px;
}

.list-header h4 {
  display: inline-block;

  padding: 0px 39px;
  font-weight: 900;
}

.list-header span {
  float: right;
  padding: 24px;
}

.category-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid #ddd;
}

.category-list ul li {
  border-bottom: 1px solid #ddd;
  padding: 10px 40px;
}

.category-list ul li a {
  text-decoration: none;
  color: #333;
}

.shop-menu {
  display: flex;
}

.shop-menu .left-menu-list {
  width: 70%;
}

.shop-menu .right-menu-list {
  width: 30%;
  direction: rtl;
}

.shop-menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.shop-menu ul li {
  padding: 20px;
  min-width: 75px;
}

.shop-menu ul li a {
  text-decoration: none;
  color: #333;
}

.shop-menu ul li a:hover {
  color: #9fe2bf;
}

.shop-menu ul .dropdown {
  display: none;
  border: 1px solid #ddd;
  position: absolute;
  box-shadow: #ccc 1px 1px 4p;
}

.dropdown-head:hover ul.dropdown {
  display: block;
}

.banner {
  float: left;
  position: relative;
  height: 400px;
  width: 100%;
  margin-left: 15px;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner .banner-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  background-color: #00000057;
}

.banner-text h4 {
  text-transform: uppercase;
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

.banner-text h3 {
  margin: 0;
  font-size: 80px;
}

.banner-text a.shop-now {
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
}


.features-point {
  margin: 30px 0px;
  margin-right: 20px;
  border: 1px solid #ddd;
}

.features-point .icon-text-wrap {
  padding: 20px;
  display: flex;
}

.features-point .icon-text-wrap i {
  font-size: 20px;
  color: #9fe2bf;
}

.features-point .icon-text-wrap span {
  font-size: 20px;
  padding-left: 10px;
  font-weight: 500;
}

.category-item {
  border: 1px solid #ccc;
  padding: 30px;
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 50px;

}

.category-item .category-img img {
  width: 100%;
}

.category-item .product-count {
  text-align: right;
  margin-bottom: 10px;
}

.category-item .category-type h5 {
  margin-bottom: 0;
  font-size: 25px;
}

.offer-banner {
  background-color: #A4AAC6;
  margin-bottom: 50px;
  position: relative;
  margin-right: 20px;


}

.offer-banner img {
  position: absolute;
  max-width: 50%;
  max-height: 90%;
  bottom: 0;
  z-index: 100;
  float: left;
  /* margin-left: 49px; */

}

.offer-banner .offer-text {
  text-align: right;
  padding: 56px;
}

.offer-banner .offer-text h5 {
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  margin: 0;
  font-weight: 500;
}

.offer-banner .offer-text h3 {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
}

.offer-banner .offer-text button {
  padding: 10px 20px;
  border: 1px solid;
  background: transparent;
  cursor: pointer;

}

.offer-banner .offer-text button:hover {
  background-color: #9fe2bf;
  color: white;

}

.cart {
  border: 1px solid #ddd;
  margin-right: 25px;

  margin-bottom: 50px;
  overflow: hidden;

}

.cart img {
  width: 100%;
  height: 40%;
  object-fit: cover;
  transition: transform .5s ease;

}

.cart img:hover {
  transform: scale(1.5);

}

.cart .cart-details {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

.cart .cart-details .name-head {
  margin: 0;
  text-align: center;
  font-size: 19px;
  font-weight: 500;
}

.cart .cart-details .cart-price {
  display: flex;
  justify-content: center;
}

.cart .cart-price h6 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  padding: 5px;
}

.cart .cart-price h6.last {
  text-decoration: line-through;
  color: #555;
}

.cart .cart-footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.cart .cart-footer a {
  font-size: 14px;
  text-decoration: none;
  color: #9fe2bf;
}

.trendy {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #9fe2bf;
  padding: 10px;
  margin-bottom: 10px;
  width: 97%;
  color: white;
}

.stay-updated {
  margin-bottom: 20px;
  background-color: #A4AAC6;
  text-align: center;
  /* padding: 50px; */
  margin-right: -5.5%;
  margin-left: -5.5%;
  padding-top: 50px;
  padding-left: 30%;
  padding-right: 30%;
  padding-bottom: 30px;
}

.stay-updated .updated-text {
  color: #555;
  line-height: 2;
}

.stay-updated .updated-input {
  display: flex;
}

.stay-updated .updated-input .email-input {
  flex: 100%;
  border: none;
  height: 40px;
  padding-left: 10px;
  font-size: 15px;
  border-radius: 0px;
}

.stay-updated .updated-input .email-input:focus {
  outline: none;
}


.stay-updated .email-btn {
  border-radius: 0;
  background-color: #9fe2bf;
  color: black;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #9fe2bf;
  color: white;
  cursor: pointer;
}

.footer {
  background-color: #A4AAC6;
  /* margin-bottom: 100px; */
  margin-left: -5.5%;
  margin-right: -5.5%;
  padding: 50px;
  color: #fff;
  display: flex;
}

.footer .footer-desc {
  text-align: justify;
  line-height: 1.2;
  margin-bottom: 20px;
}

.footer.contact-list {
  padding: 0;
  list-style-type: none;
  line-height: 1.8;
}

.footer .contact-list i {
  width: 25px;
  color: #9fe2bf;
}

.quick-links ul {
  list-style-type: none;
  padding: 0;

}

.quick-links ul a {
  text-decoration: none;
  color: white;
  line-height: 2;
}

.quick-links ul a i {
  padding-right: 10px;
  color: #9fe2bf;

}

.footer .footer-input {
  border: 0px;
  padding-left: 10px;
  font-size: 17px;
  width: 80%;
  height: 40px;
  margin-bottom: 10px;

}

.footer .footer-button {
  border: 0;
  padding: 20px;
  background-color: #9fe2bf;
  width: 80%;
  font-size: 20px;
  color: #fff;

}

.vendor-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-left: 5%;
  padding-right: 5%;


}

.vendor-list img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border: 1px solid #ddd;
  padding: 30px;
}

.vendor-list img:last-child {
  margin-right: 0;
}
/* Shop file CSS */

.shop-header{
  background-color: #A4AAC6;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 20px;
}
.shop-header h1{
  text-transform: uppercase;
}
.shop-header h3{
  color: #9fe2bf;
  font-weight: 400;
}
.sort-options{
  text-align: right;
  margin-right: 25px;
  margin-bottom: 20px;
}
.sort-option select{
  border: 1px solid #ddd;
  height: 35px;
  width: 100px;
}
/* .custom-control-checkbox{
  padding-left: 15px;
    position: relative;
    z-index: 1;
    display: block;
    min-height: 15px;
}
.custom-control-input{
  position: absolute;
  left: 0;
  z-index: -1;
  width: 15px;
  height: 14px;
  opacity: 1;
}
.custom-control-label{
  position: relative;
  margin-bottom: 0px;
  vertical-align: top;
}
.custom-control-label::before{
  position: absolute;
  top: 3px;
  left: -25px;
  display: block;
  width: 15px;
  height: 15px;
  content: "";
  border: #9fe2bf solid 1px;
}
.custom-control-input:checked~ .custom-control-label::before{
  border-color: #9fe2bf;
  background-color: #9fe2bf;


} 
.custom-control-label::after{
position: absolute;
top: 4px;
left: -24px;
display: block;
width: 15px;
height: 15px;
content: "";
background: no-repeat 50% /50% 50%;
} */
.form-control {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 2.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.form-control + .form-control {
  margin-top: 1em;
}

.form-control--disabled {
  color: var(--form-control-disabled);
  cursor: not-allowed;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
  margin-top: 9px;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

/* Cart details */
.cart-details{
  margin-top: 50px;
  margin-bottom: 50px;
}
.cart-details table{
  width: 100%;
  border-collapse: collapse;
}
.cart-details thead{
  color: #555;
    background-color: #A4AAC6;
    text-align: center;
}

.cart-details thead tr th{
  padding: 15px;
}
.cart-details tbody{
  text-align: center;
    vertical-align: middle;
}
.cart-details tbody tr td{
  border: 1px solid #A4AAC6;
    display: table-cell;
}
.cart-details img{
  width: 50px;
  vertical-align: middle;
}
.quantity-input{
  display: flex;
}
.quantity-input button{
 
    border: 0;
    font-size: 25px;
    background: #9fe2bf;
    border-radius: 0;
    width: 30px;

}
.quantity-input input{
  width: 50px;
    text-align: center;
    background-color:  #A4AAC6;
    border: 1px solid  #A4AAC6;
}
 .custom-delete-button{
  padding: 15px;
  background-color:#9fe2bf;
  
}
.cart-details .text-width-image{
  text-align: left;
}
 
/* cart summary  */
.cart-summary-wrapper{
  margin-top: 20px;
  margin-left: 20px;
}
.cart-summary-wrapper .coupon-input{
  display: flex;
  height: 50px;
}

.cart-summary-wrapper .coupon-input input{
  border: 1px solid #ccc;
  border-right: 0;
  padding-left: 20px;
  width: 50%;

}
.cart-summary-wrapper .coupon-input button{
  border: 0;
  background-color: #9fe2bf;
  width: 40%;
}

.cart-summary-wrapper .cart-summary-body{
  border: 1px solid #ddd;
  margin-top: 50px;
  padding: 20px;
}
.cart-summary-wrapper .cart-summary-item{
  display: flex;
  justify-content: space-between;
}
.cart-summary-wrapper .total-wrapper{
 border: 1px solid #ddd;
 border-top: none;
 padding: 20px;
}
.cart-summary-wrapper .total-wrapper .total-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
 }
 .cart-summary-wrapper .total-wrapper .total-header h4{
 margin: 0;
 }
 .cart-summary-wrapper .total-wrapper .proceed-input button{
background-color: #9fe2bf;
border: 0;
padding: 20px;
width: 100%;
font-size: 15px;
cursor: pointer;
}

@media only screen and (max-width:992px) {
  .search-product {
    display: flex;
  }

  .search-product input {
    flex: 100%;
  }

  .selected-product {
    text-align: left;
  }

  .shop-menu ul {
    display: block;
  }

  .shop-menu ul li {
    padding: 10px;
  }

  .banner {
    float: none;
  }

  .stay-updated {
    padding-top: 25px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 40px;
  }

  .vendor-list {
    justify-content: start;
    flex-wrap: wrap;
  }
  .footer{
    display: block;
  }
  .banner-text h4{
    font-size: 20px;
  }
  .banner-text h3{
    font-size: 50px;
    margin-left: 15px;

  }
}